<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>주소 검색 결과</title>
</head>
<body onload="init();">
    <script>
        function init() {
            // 부모 창의 jusoCallBack 함수 호출
            opener.jusoCallBack(
                "{{addr.roadFullAddr}}", "{{addr.roadAddrPart1}}", "{{addr.addrDetail}}",
                "{{addr.roadAddrPart2}}", "{{addr.engAddr}}", "{{addr.jibunAddr}}",
                "{{addr.zipNo}}", "{{addr.admCd}}", "{{addr.rnMgtSn}}",
                "{{addr.bdMgtSn}}", "{{addr.detBdNmList}}", "{{addr.bdNm}}",
                "{{addr.bdKdcd}}", "{{addr.siNm}}", "{{addr.sggNm}}",
                "{{addr.emdNm}}", "{{addr.liNm}}", "{{addr.rn}}",
                "{{addr.udrtYn}}", "{{addr.buldMnnm}}", "{{addr.buldSlno}}",
                "{{addr.mtYn}}", "{{addr.lnbrMnnm}}", "{{addr.lnbrSlno}}", "{{addr.emdNo}}"
            );
            window.close(); // 팝업창 닫기
        }
    </script>
</body>
</html>
