<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Home</h1>
    <hr>
    <ul>
        <li><a href="/join-form">회원가입 (주소 연동 기능 포함)</a></li>
    </ul>
  </body>
</html>
